# For MSVC
*.lastcodeanalysissucceeded
*.pdb
*.idb
*.ilk
*.obj
*.pch
*.log
*.tlog
*.dll
*.rar
*.exe
*.map
*.lib
*.user
*.sdf
*.ncb
*.opensdf
*.suo
*.aps
*.exp
*.lastbuildstate
Debug
DebugFast
Release
ipch

bin
libs

# For Mac
.DS_Store
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
